Repository pingcap/docs-cn, pull requests merged in 2019-06, with the labels that each got.

#1399 faq, toc: add folder for FAQs and rename accordingly
  TOC.md
  dev/how-to/troubleshoot/data-migration.md
  dev/how-to/troubleshoot/tidb-lightning.md
  dev/reference/error-codes.md
  dev/reference/tools/tidb-lightning/deployment.md
  faq/tidb-lightning.md
  faq/tidb.md
  faq/upgrade.md
Labels: Refactor

#1404 toc, how-to/../tispark: update TiSpark position
  TOC.md
  dev/how-to/get-started/tispark.md
Labels: Refactor

#1363 sql: add TiDB specific variables for 3.0
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/sql/statements/ddl.md
Labels: v3.0

#1429 tidb-in-kubernetes: local-pv-management
  tidb-in-kubernetes/manage-local-pv.md
Labels: tidb-in-k8s, v3.0

#1362 sql: add document for role-based access control
  TOC.md
  dev/reference/security/role-based-authorization.md
Labels: v3.0

#1437 dev/reference: add document for window functions
  TOC.md
  dev/reference/sql/functions-and-operators/window-functions.md
Labels: v3.0

#1468 toc, reference: split data types to separate pages
  TOC.md
  dev/reference/sql/data-types.md
  dev/reference/sql/data-types/date-and-time.md
  dev/reference/sql/data-types/default-values.md
  dev/reference/sql/data-types/json.md
  dev/reference/sql/data-types/numeric.md
  dev/reference/sql/data-types/overview.md
  dev/reference/sql/data-types/string.md
Labels: Refactor

#1436 dev/reference: update document of statistics
  dev/reference/performance/statistics.md
Labels: v3.0

#1400 media, dev/reference/sql: move orphan admin doc
  dev/reference/sql/statements/admin.md
Labels: DNM

#1476 dev/*: update links and fix aliases
  dev/how-to/deploy/data-migration-with-ansible.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/deploy/orchestrated/offline-ansible.md
  dev/how-to/get-started/local-cluster/install-from-docker-compose.md
  dev/how-to/get-started/read-historical-data.md
  dev/how-to/maintain/identify-slow-queries.md
  dev/how-to/migrate/incrementally-from-mysql.md
  dev/how-to/troubleshoot/cluster-setup.md
  dev/reference/configuration/tidb-server/configuration.md
Labels: Refactor

#1467 tidb-in-kubernetes: migrate gke terraform deployment doc to docs-cn repo
  tidb-in-kubernetes/gcp-gke-tutorial.md
Labels: tidb-in-k8s, v3.0

#1466 tidb-in-kubernetes: migrate aws terraform deployment doc to docs-cn repo
  tidb-in-kubernetes/aws-eks-tutorial.md
Labels: tidb-in-k8s, v3.0

#1417 tidb-in-kubernetes: add maintain-node documentation
  tidb-in-kubernetes/maintain-node.md
Labels: tidb-in-k8s, v3.0

#1450 TOC, dev/how-to, dev/reference: merge tidb binlog into tidb server
  TOC.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/deploy/tidb-binlog.md
  dev/how-to/get-started/tidb-binlog.md
  dev/how-to/maintain/tidb-binlog.md
  dev/how-to/monitor/tidb-binlog.md
  dev/how-to/upgrade/tidb-binlog.md
  dev/key-features.md
  dev/reference/tidb-binlog-overview.md
  dev/reference/tools/download.md
  dev/reference/tools/tidb-binlog/reparo.md
  dev/reference/tools/tidb-binlog/tidb-binlog-kafka.md
  dev/reference/tools/tidb-binlog/tidb-binlog-local.md
Labels: Refactor

#1443 dev/reference: add document for execution plan bind
  TOC.md
  dev/reference/performance/execution-plan-bind.md
Labels: v3.0

#1419 tidb-in-kubernetes: Add upgrade tidb documentation
  tidb-in-kubernetes/upgrade-tidb.md
Labels: tidb-in-k8s, v3.0

#1420 tidb-in-kubernetes: add reference for tkctl
  tidb-in-kubernetes/tkctl.md
Labels: tidb-in-k8s, v3.0

#1428 tidb-in-kubernetes: expose services
  tidb-in-kubernetes/expose-servics.md
Labels: tidb-in-k8s, v3.0

#1441 sql: add doc for split table/index regions
  TOC.md
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/sql/statements/split-region.md
Labels: v3.0

#1465 tidb-in-kubernetes: migrate aliyun terraform deployment doc to docs-c…
  tidb-in-kubernetes/aliyun-tutorial.md
Labels: tidb-in-k8s, v3.0

#1475 tidb-in-kubernetes: migrate google trial doc to docs-cn repo
  tidb-in-kubernetes/google-kubernetes-tutorial.md
Labels: tidb-in-k8s, v3.0

#1483 tidb-in-kubernetes: add local dind deployment doc
  tidb-in-kubernetes/local-dind-tutorial.md
Labels: tidb-in-k8s, v3.0

#1491 tidb-in-kubernetes: add minikube deployment doc
  tidb-in-kubernetes/minikube-tutorial.md
Labels: tidb-in-k8s, v3.0

#1492 *: add TiDB in K8s deployment docs
  TOC.md
  dev/how-to/deploy/orchestrated/alibaba-cloud.md
  dev/how-to/deploy/orchestrated/aws-eks.md
  dev/how-to/deploy/orchestrated/gcp-gke.md
  dev/how-to/get-started/local-cluster/install-from-kubernetes-dind.md
  dev/how-to/get-started/local-cluster/install-from-kubernetes-gke.md
  dev/how-to/get-started/local-cluster/install-from-kubernetes-minikube.md
Labels: tidb-in-k8s, v3.0

#1493 dev/how-to: update K8s doc format
  dev/how-to/get-started/local-cluster/install-from-kubernetes-dind.md
  dev/how-to/get-started/local-cluster/install-from-kubernetes-gke.md
Labels: tidb-in-k8s, v3.0

#1384 tools: add dm source-id restriction
  dev/reference/tools/data-migration/configure/overview.md
  v2.1/reference/tools/data-migration/configure/overview.md
  v3.0/reference/tools/data-migration/configure/overview.md
Labels: v2.1, v3.0

#1423 tidb-in-kubernetes: add tidb-backup configuration reference
  tidb-in-kubernetes/tidb-backup-configuration.md
Labels: tidb-in-k8s, v3.0

#1464 tidb-in-kubernetes: auto failover
  tidb-in-kubernetes/auto-failover.md
Labels: tidb-in-k8s

#1488 add doc for tidb information schema tables
  dev/reference/system-databases/information-schema.md
Labels: v3.0

#1439 tidb-in-kubernetes: recovery after accidental deletion
  dev/how-to/troubleshoot/tidb-in-kubernetes.md
Labels: tidb-in-k8s, v3.0

#1431 dev/reference/sql: add document for table partition
  TOC.md
  dev/reference/sql/partitioning.md
Labels: v3.0

#1448 tidb-in-kubernetes:add configuration doc of tidb-cluster
  tidb-in-kubernetes/configuration.md
Labels: tidb-in-k8s, v3.0

#1489 tidb-in-kubernetes: add scale tidb documentation
  tidb-in-kubernetes/scale-tidb.md
Labels: tidb-in-k8s, v3.0

#1484 dev/reference: update doc for tidb session variable
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/transactions/transaction-pessimistic.md
Labels: dev, v3.0

#1497 tidb-in-kubernetes: migrate operation guide to docs-cn repo
  tidb-in-kubernetes/operation-guide.md
Labels: tidb-in-k8s, v3.0

#1503 tidb-in-kubernetes: migrate tidb operator setup guide
  tidb-in-kubernetes/tidb-operator-setup.md
Labels: tidb-in-k8s, v3.0

#1510 dev, v3.0, v2.1: remove inapplicable content in v2.1
  dev/TOC.md
  dev/reference/security/role-based-access-control.md
  v2.1/TOC.md
  v2.1/how-to/deploy/orchestrated/alibaba-cloud.md
  v2.1/how-to/deploy/orchestrated/aws-eks.md
  v2.1/how-to/deploy/orchestrated/gcp-gke.md
  v2.1/how-to/get-started/local-cluster/install-from-kubernetes-dind.md
  v2.1/how-to/get-started/local-cluster/install-from-kubernetes-gke.md
  v2.1/how-to/get-started/local-cluster/install-from-kubernetes-minikube.md
  v2.1/how-to/maintain/identify-slow-queries.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/sql/functions-and-operators/window-functions.md
  v2.1/reference/transactions/transaction-pessimistic.md
  v3.0/TOC.md
  v3.0/reference/security/role-based-access-control.md
  v3.0/reference/security/role-based-authorization.md
Labels: dev, v2.1, v3.0

#1511 v2.1/reference: update transaction auto retry
  v2.1/reference/transactions/transaction-isolation.md
  v2.1/reference/transactions/transaction-model.md
Labels: v2.1

#1514 v3.0, dev/benchmark: add how to run tpcc
  dev/benchmark/how-to-run-tpcc.md
  v3.0/benchmark/how-to-run-tpcc.md
Labels: LGT2, dev, v3.0

#1515 dev: fix rbac doc mistake
  dev/reference/security/role-based-access-control.md
Labels: dev, v3.0

#1520 dev, v3.0: update format
  dev/reference/sql/functions-and-operators/window-functions.md
  v3.0/reference/sql/functions-and-operators/window-functions.md
Labels: dev, v3.0

#1519 */maintain: fix dead link in slow query
  dev/how-to/maintain/identify-slow-queries.md
  v2.1/how-to/maintain/identify-slow-queries.md
  v3.0/how-to/maintain/identify-slow-queries.md
Labels: dev, v2.1, v3.0

#1506 dev/reference: fix link issues and add alter-database.md
  TOC.md
  dev/TOC.md
  dev/reference/mysql-compatibility.md
  dev/reference/sql/statements/admin.md
  dev/reference/sql/statements/alter-database.md
  v3.0/TOC.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/sql/statements/admin.md
  v3.0/reference/sql/statements/alter-database.md
Labels: dev, v3.0

#1495 TOC, dev/reference, dev/how-to: update several documents
  dev/TOC.md
  dev/how-to/maintain/identify-slow-queries.md
  dev/reference/configuration/pd-server/configuration-file.md
  dev/reference/configuration/pd-server/configuration.md
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/configuration/tidb-server/configuration.md
  dev/reference/configuration/tikv-server/configuration-file.md
  dev/reference/sql/character-set.md
  dev/reference/sql/sql-mode.md
  v3.0/TOC.md
  v3.0/how-to/maintain/identify-slow-queries.md
  v3.0/reference/configuration/pd-server/configuration-file.md
  v3.0/reference/configuration/pd-server/configuration.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration.md
  v3.0/reference/configuration/tidb-server/mysql-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tikv-server/configuration-file.md
  v3.0/reference/sql/character-set.md
  v3.0/reference/sql/sql-mode.md
Labels: dev, v3.0

#1212 op-guide, media: udpate TiDB monitoring docs
  dev/how-to/monitor/monitor-a-cluster.md
  dev/how-to/monitor/overview.md
  media/grafana-screenshot-v2.1.png
  media/prometheus-in-tidb-v2.1.png
  media/prometheus-in-tidb.png
  media/view-dashboard.png
  v2.1-legacy/op-guide/monitor-overview.md
  v2.1/how-to/monitor/overview.md
  v3.0/how-to/monitor/monitor-a-cluster.md
  v3.0/how-to/monitor/overview.md
Labels: dev, v2.1, v3.0

#1531 dev, v3.0: clarify the MySQL version
  dev/reference/sql/functions-and-operators/window-functions.md
  v3.0/reference/sql/functions-and-operators/window-functions.md
Labels: dev, v3.0

#1534 dev, v3.0, v2.1: remove inappropriate description in TOC
  dev/TOC.md
  v2.1/TOC.md
  v3.0/TOC.md
Labels: dev, v2.1, v3.0

#1509 dev: fix split region doc problem
  dev/reference/sql/statements/split-region.md
  v3.0/reference/sql/statements/split-region.md
Labels: dev, v3.0

#1538 tidb-in-kubernetes/maintain-node: fix typo and empty command
  tidb-in-kubernetes/maintain-node.md
Labels: tidb-in-k8s

#1541 v3.0: update sysbench-v4 report
  dev/benchmark/sysbench-v4.md
  media/sysbench_v4_point_select.png
  media/sysbench_v4_read_write.png
  media/sysbench_v4_update_index.png
  media/sysbench_v4_update_non_index.png
  v3.0/benchmark/sysbench-v4.md
Labels: dev, v3.0

#1540 */releases, TOC: publish 3.0 GA release notes
  dev/TOC.md
  dev/releases/3.0-ga.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0-ga.md
  v3.0/releases/rn.md
Labels: dev, v3.0

#1543 releases: fix error in release note for 3.0 GA
  dev/releases/3.0-ga.md
  v3.0/releases/3.0-ga.md
Labels: dev, v3.0

#1544 v2.1/releases: add 3.0 GA release notes
  v2.1/TOC.md
  v2.1/releases/3.0-ga.md
  v2.1/releases/rn.md
Labels: v2.1

#1536 dev, v3.0: fix PR 1495 left issues
  dev/TOC.md
  dev/how-to/maintain/identify-slow-queries.md
  dev/reference/configuration/pd-server/configuration.md
  dev/reference/sql/sql-mode.md
  v3.0/TOC.md
  v3.0/how-to/maintain/identify-slow-queries.md
  v3.0/reference/configuration/pd-server/configuration.md
  v3.0/reference/sql/sql-mode.md
Labels: dev, v3.0
