Repository pingcap/docs-cn, pull requests merged in 2019-08, with the labels that each got.

#1697 dev, v3.0/how-to/deploy, */overview: fix a broken link
  dev/how-to/deploy/tidb-in-kubernetes/aws-eks.md
  dev/how-to/deploy/tidb-in-kubernetes/general-kubernetes.md
  dev/overview.md
  v3.0/how-to/deploy/tidb-in-kubernetes/aws-eks.md
  v3.0/how-to/deploy/tidb-in-kubernetes/general-kubernetes.md
  v3.0/overview.md
Labels: tidb-in-k8s

#1698 v3.0, dev/how-to/get-started, */overvew: fix a broken link
  dev/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  dev/overview.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  v3.0/overview.md
Labels: tidb-in-k8s

#1700 v3.0, dev/overview: fix two broken links
  dev/overview.md
  v3.0/overview.md
Labels: dev, v3.0

#1702 dev, v3.0: update TiDB in K8s links and format
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  dev/tidb-in-kubernetes/deploy/prerequisites.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  dev/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/prerequisites.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
Labels: tidb-in-k8s

#1679 dev, v3.0, v2.1/reference: add DM Portal manual doc
  dev/TOC.md
  dev/how-to/deploy/data-migration-with-ansible.md
  dev/reference/tools/data-migration/dm-portal.md
  media/dm-portal-basicconfig.png
  media/dm-portal-binlogfilter-1.png
  media/dm-portal-binlogfilter-2.png
  media/dm-portal-changetablename.png
  media/dm-portal-editconfig.png
  media/dm-portal-generateconfig.png
  media/dm-portal-instanceconfig.png
  media/dm-portal-instanceshow.png
  media/dm-portal-mergetable-1.png
  media/dm-portal-mergetable-2.png
  media/dm-portal-movetodb-1.png
  media/dm-portal-movetodb-2.png
  media/dm-portal-movetonewdb-1.png
  media/dm-portal-movetonewdb-2.png
  media/dm-portal-reset.png
  media/dm-portal-revert.png
  media/dm-portal-tableroute-1.png
  media/dm-portal-tableroute-2.png
  media/dm-portal-uploadconfig.png
  v2.1/TOC.md
  v2.1/how-to/deploy/data-migration-with-ansible.md
  v2.1/reference/tools/data-migration/dm-portal.md
  v3.0/TOC.md
  v3.0/how-to/deploy/data-migration-with-ansible.md
  v3.0/reference/tools/data-migration/dm-portal.md
Labels: dev, v2.1, v3.0

#1693 scripts: add verify links check and fix some broken links
  .circleci/config.yml
  dev/architecture.md
  dev/faq/tidb.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/overview.md
  dev/reference/garbage-collection/configuration.md
  dev/reference/sql/statements/load-data.md
  dev/reference/sql/statements/recover-table.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/maintain/kubernetes-node.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
  v3.0/TOC.md
  v3.0/faq/tidb.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/overview.md
  v3.0/reference/garbage-collection/configuration.md
  v3.0/reference/sql/statements/load-data.md
  v3.0/reference/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/maintain/kubernetes-node.md
Labels: enhancement

#1706 reference: update the TiDB metrics docs
  dev/reference/key-monitoring-metrics/tidb-dashboard.md
  v3.0/reference/key-monitoring-metrics/tidb-dashboard.md
Labels: enhancement

#1663 tools: add a tip for binlogctl's usage
  dev/how-to/maintain/tidb-binlog.md
Labels: dev, v2.1, v3.0

#1716 scripts: enable colorful output always
  scripts/verify-links.sh
Labels: enhancement

#1711 tidb-server: add tidb_scatter_region
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: pending-aligning

#1704 configuration: fix resource configuration
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: dev, tidb-in-k8s, v3.0

#1720 dev, v2.1, v3.0: reorganize the list of keywords and reserved words
  dev/reference/sql/language-structure/keywords-and-reserved-words.md
  v2.1/reference/sql/language-structure/keywords-and-reserved-words.md
  v3.0/reference/sql/language-structure/keywords-and-reserved-words.md
Labels: aligned, dev, v3.0, website

#1718 dev, v3.0: add TiDB 3.0.2 Release Notes
  dev/TOC.md
  dev/releases/3.0.2.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.2.md
  v3.0/releases/rn.md
Labels: aligned, dev, v3.0

#1723 dev, v3.0: add a space
  dev/releases/3.0.2.md
  v3.0/releases/3.0.2.md
Labels: align-N/A, dev, v3.0

#1731 dev, v3.0/tidb-in-kubernetes, v3.0/reference: fix a typo
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/architecture.md
  v3.0/reference/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
Labels: align-N/A, tidb-in-k8s

#1729 reference/sql: update functions and operators
  dev/reference/sql/functions-and-operators/bit-functions-and-operators.md
  dev/reference/sql/functions-and-operators/cast-functions-and-operators.md
  dev/reference/sql/functions-and-operators/control-flow-functions.md
  dev/reference/sql/functions-and-operators/date-and-time-functions.md
  dev/reference/sql/functions-and-operators/encryption-and-compression-functions.md
  dev/reference/sql/functions-and-operators/information-functions.md
  dev/reference/sql/functions-and-operators/miscellaneous-functions.md
  dev/reference/sql/functions-and-operators/numeric-functions-and-operators.md
  dev/reference/sql/functions-and-operators/string-functions.md
  v3.0/reference/sql/functions-and-operators/bit-functions-and-operators.md
  v3.0/reference/sql/functions-and-operators/cast-functions-and-operators.md
  v3.0/reference/sql/functions-and-operators/control-flow-functions.md
  v3.0/reference/sql/functions-and-operators/date-and-time-functions.md
  v3.0/reference/sql/functions-and-operators/encryption-and-compression-functions.md
  v3.0/reference/sql/functions-and-operators/information-functions.md
  v3.0/reference/sql/functions-and-operators/miscellaneous-functions.md
  v3.0/reference/sql/functions-and-operators/numeric-functions-and-operators.md
  v3.0/reference/sql/functions-and-operators/string-functions.md
Labels: aligned-with-docs

#1715 how-to/deploy: update cmd and toml descriptions for deploy of binlog
  dev/how-to/deploy/tidb-binlog.md
  v2.1/how-to/deploy/tidb-binlog.md
  v3.0/how-to/deploy/tidb-binlog.md
Labels: pending-aligning

#1719 reference*/recover-table: update wording
  dev/reference/sql/statements/recover-table.md
  v3.0/reference/sql/statements/recover-table.md
Labels: dev, v3.0

#1736 tidb-in-kubernetes: fix `extraLabels` description
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: pending-aligning

#1656 dev, v3.0, v2.1: add DM upgrade advice
  dev/reference/tools/data-migration/dm-upgrade.md
  v2.1/reference/tools/data-migration/dm-upgrade.md
  v3.0/reference/tools/data-migration/dm-upgrade.md
Labels: pending-aligning

#1633 dev/reference/tools: modify the link of dashboard config file
  dev/reference/tools/tidb-binlog/tidb-binlog-local.md
  v2.1/reference/tools/tidb-binlog/tidb-binlog-local.md
  v3.0/reference/tools/tidb-binlog/tidb-binlog-local.md
Labels: align-N/A

#1751 dev/3.0: Update bastion username EKS deploy document to avoid ssh failure
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
Labels: aligned-with-docs, dev, v3.0

#1759 .github: refine the pr template
  .github/pull_request_template.md
Labels: aligned-with-docs

#1637 tools: refine document for sync-diff-inspector
  dev/reference/tidb-binlog-overview.md
  dev/reference/tools/download.md
  dev/reference/tools/sync-diff-inspector.md
  dev/reference/tools/sync-diff-inspector/overview.md
  dev/reference/tools/sync-diff-inspector/route-diff.md
  dev/reference/tools/sync-diff-inspector/shard-diff.md
  dev/reference/tools/sync-diff-inspector/tidb-diff.md
Labels: dev, enhancement, pending-aligning, v2.1, v3.0

#1750 dev/v2.1/v3.0: update CONTRIBUTING.md url
  dev/contribute.md
  v2.1/contribute.md
  v3.0/contribute.md
Labels: aligned-with-docs, dev, v2.1, v3.0

#1749 scripts: append go/bin to $PATH
  scripts/check_requirement.sh
Labels: aligned-with-docs

#1568 how-to/deploy: update TiDB version info in deployment
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
Labels: dev, v2.1, v3.0

#1756 releases: add 2.1.16 release notes
  dev/TOC.md
  dev/releases/2.1.16.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.16.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.16.md
  v3.0/releases/rn.md
Labels: aligned-in-docs

#1760 tools: refine sync-diff-inspector's document in v2.1 and v3.0
  dev/TOC.md
  v2.1/TOC.md
  v2.1/reference/tidb-binlog-overview.md
  v2.1/reference/tools/download.md
  v2.1/reference/tools/sync-diff-inspector.md
  v2.1/reference/tools/sync-diff-inspector/overview.md
  v2.1/reference/tools/sync-diff-inspector/route-diff.md
  v2.1/reference/tools/sync-diff-inspector/shard-diff.md
  v2.1/reference/tools/sync-diff-inspector/tidb-diff.md
  v3.0/TOC.md
  v3.0/reference/tidb-binlog-overview.md
  v3.0/reference/tools/download.md
  v3.0/reference/tools/sync-diff-inspector.md
  v3.0/reference/tools/sync-diff-inspector/overview.md
  v3.0/reference/tools/sync-diff-inspector/route-diff.md
  v3.0/reference/tools/sync-diff-inspector/shard-diff.md
  v3.0/reference/tools/sync-diff-inspector/tidb-diff.md
Labels: enhancement, pending-aligning, v2.1, v3.0

#1748 reference: update the schema information of slow-query table
  dev/reference/system-databases/information-schema.md
  v2.1/reference/system-databases/information-schema.md
  v3.0/reference/system-databases/information-schema.md
Labels: pending-aligning

#1752 how-to/maintain: update slow log document
  dev/how-to/maintain/identify-slow-queries.md
  v2.1/how-to/maintain/identify-slow-queries.md
  v3.0/how-to/maintain/identify-slow-queries.md
Labels: pending-aligning

#1766 contributing: add PR filing process
  CONTRIBUTING.md
Labels: pending-aligning

#1764 CONTRIBUTING: fix backticks format and add reference resources
  CONTRIBUTING.md
Labels: pending-aligning

#1768 dev, v2.1, v3.0: fix 4 broken links
  dev/releases/21rc5.md
  v2.1/releases/21rc5.md
  v3.0/releases/2.1.2.md
  v3.0/releases/21rc5.md
Labels: align-N/A, dev, v2.1, v3.0

#1763 correct the scope of a tidb_opt_insubquery_unfold
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1-legacy/sql/tidb-specific.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: LGT1, pending-aligning

#1721 dev/reference: add some description about max_execution_time
  dev/reference/configuration/tidb-server/mysql-variables.md
  dev/reference/performance/optimizer-hints.md
  v2.1/reference/configuration/tidb-server/mysql-variables.md
  v2.1/reference/performance/optimizer-hints.md
  v3.0/reference/configuration/tidb-server/mysql-variables.md
  v3.0/reference/performance/optimizer-hints.md
Labels: aligned-in-docs

#1772 how-to: optimize the explanation of ansible-excessive_rolling_update
  dev/how-to/upgrade/from-previous-version.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: dev, pending-aligning, v2.1, v3.0

#1769 CONTRIBUTING: add the document template link
  CONTRIBUTING.md
  dev/releases/201.md
  v2.1/releases/201.md
  v3.0/releases/201.md
Labels: pending-aligning

#1747 dev, v2.1, v3.0: add declaration for utf8 checking
  dev/reference/sql/character-set.md
  v2.1-legacy/releases/201.md
  v2.1/reference/sql/character-set.md
  v3.0/reference/sql/character-set.md
Labels: LGT1, pending-aligning

#1775 contributing, resources: add pdf for style guide and template
  CONTRIBUTING.md
  resources/pingcap-style-guide-zh-v1.0.pdf
  resources/tidb-docs-template-zh-v1.0.pdf
Labels: pending-aligning

#1757 tidb-in-kubernetes: add offline pump document
  dev/tidb-in-kubernetes/maintain/backup-and-restore.md
  v3.0/tidb-in-kubernetes/maintain/backup-and-restore.md
Labels: pending-aligning, tidb-in-k8s

#1744 tidb-in-kubernetes: add note for concurrent scale-out and scale-in
  dev/tidb-in-kubernetes/scale-in-kubernetes.md
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/scale-in-kubernetes.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: aligning, pending-aligning, tidb-in-k8s

#1770 dev,v3.0/tidb-in-kubernetes: add storage class document for tidb in kubernetes
  dev/TOC.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/reference/configuration/local-pv.md
  dev/tidb-in-kubernetes/reference/configuration/storage-class.md
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/reference/configuration/local-pv.md
  v3.0/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: pending-aligning, tidb-in-k8s

#1783 tidb-in-kubernetes: add aliases about local PV
  dev/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.0/tidb-in-kubernetes/reference/configuration/storage-class.md
Labels: pending-aligning, tidb-in-k8s

#1732 reference/sql: add show table regions docs
  dev/TOC.md
  dev/reference/sql/statements/show-table-regions.md
Labels: dev, pending-aligning, v2.1, v3.0

#1774 how-to/maintain: fix backup and restore description
  dev/how-to/maintain/backup-and-restore.md
  v2.1/how-to/maintain/backup-and-restore.md
  v3.0/how-to/maintain/backup-and-restore.md
Labels: aligned-with-docs

#1787 dev, v2.1, v3.0/media, benchmark: fix broken links to images
  dev/benchmark/sysbench.md
  media/sysbench-01.png
  media/sysbench-02.png
  media/sysbench-03.png
  media/sysbench-04.png
  media/sysbench-05.png
  media/sysbench-06.png
  media/sysbench-07.png
  media/sysbench-08.png
  media/sysbench-09.png
  v2.1/benchmark/sysbench.md
  v3.0/benchmark/sysbench.md
Labels: align-N/A

#1785 *: update toc and link format
  dev/TOC.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
  v2.1/TOC.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
Labels: aligned-with-docs

#1767 tidb-in-kubernetes: add tikv/tidb config hints to tidb and tikv
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: pending-aligning

#1776 dev, v2.1, v3.0/reference: change the description of SQL_MODE
  dev/reference/mysql-compatibility.md
  dev/reference/sql/functions-and-operators/aggregate-group-by-functions.md
  v2.1/reference/mysql-compatibility.md
  v2.1/reference/sql/functions-and-operators/aggregate-group-by-functions.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/sql/functions-and-operators/aggregate-group-by-functions.md
Labels: pending-aligning

#1793 how-to/upgrade: add aliases in TiDB 3.0 upgrade guide
  dev/how-to/upgrade/from-previous-version.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: dev, v2.1, v3.0

#1786 reference/tools/data-migration: change MySQL version
  dev/reference/tools/data-migration/overview.md
  dev/reference/tools/data-migration/precheck.md
  dev/reference/tools/syncer.md
  v2.1/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/precheck.md
  v2.1/reference/tools/syncer.md
  v3.0/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/precheck.md
  v3.0/reference/tools/syncer.md
Labels: LGT1, pending-aligning

#1794 tidb-in-kubernetes: add config for rp_filter
  dev/tidb-in-kubernetes/deploy/prerequisites.md
  v3.0/tidb-in-kubernetes/deploy/prerequisites.md
Labels: aligned-in-docs, dev, tidb-in-k8s, v3.0

#1773 how-to: add binlog slave client and reparo into
  dev/TOC.md
  dev/how-to/deploy/tidb-binlog.md
  dev/reference/tidb-binlog-overview.md
  v2.1/TOC.md
  v2.1/how-to/deploy/tidb-binlog.md
  v2.1/reference/tidb-binlog-overview.md
  v3.0/TOC.md
  v3.0/how-to/deploy/tidb-binlog.md
  v3.0/reference/tidb-binlog-overview.md
Labels: pending-aligning

#1791 remove retry-limit from the configuration-file document
  dev/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
Labels: v3.0

#1781 dev,v3.0/benchmark: add 'add-index-with-load.md'
  dev/TOC.md
  dev/benchmark/add-index-with-load.md
  media/add-index-load-1-b1024.png
  media/add-index-load-1-b128.png
  media/add-index-load-1-b2048.png
  media/add-index-load-1-b256.png
  media/add-index-load-1-b32.png
  media/add-index-load-1-b4096.png
  media/add-index-load-1-b512.png
  media/add-index-load-1-b64.png
  media/add-index-load-2-b1024.png
  media/add-index-load-2-b32.png
  media/add-index-load-2-b4096.png
  media/add-index-load-3-b1024.png
  media/add-index-load-3-b32.png
  media/add-index-load-3-b4096.png
  v3.0/TOC.md
  v3.0/benchmark/add-index-with-load.md
Labels: dev, pending-aligning, v3.0

#1784 dev, v2.1, v3.0/reference: clarify support for foreign key contraints
  dev/reference/sql/constraints.md
  v2.1/reference/sql/constraints.md
  v3.0/reference/sql/constraints.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1778 tidb-in-kubernetes: add default cluster requirements
  dev/tidb-in-kubernetes/deploy/general-kubernetes.md
  v3.0/tidb-in-kubernetes/deploy/general-kubernetes.md
Labels: dev, pending-aligning, tidb-in-k8s, v3.0

#1743 dev, v2.1, v3.0: add TiDB DM tutorial
  dev/TOC.md
  dev/how-to/get-started/data-migration.md
  v2.1/TOC.md
  v2.1/how-to/get-started/data-migration.md
  v3.0/TOC.md
  v3.0/how-to/get-started/data-migration.md
Labels: LGT1, aligned-with-docs, dev, v2.1, v3.0

#1800 how-to/troubleshoot: update tidb-lightning error
  dev/how-to/troubleshoot/tidb-lightning.md
  v2.1/how-to/troubleshoot/tidb-lightning.md
  v3.0/how-to/troubleshoot/tidb-lightning.md
Labels: dev, pending-aligning, v2.1, v3.0

#1805 benchmark: fix inappropriate sysbench links
  dev/benchmark/sysbench.md
  v1.0/benchmark/sysbench.md
  v2.0/benchmark/sysbench.md
  v2.1-legacy/benchmark/sysbench.md
  v2.1/benchmark/sysbench.md
  v3.0/benchmark/sysbench.md
Labels: align-N/A

#1797 tidb-in-kubernetes: update GCP GKE deployment docs
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: aligned-with-docs, tidb-in-k8s

#1758 FAQ: update TiDB FAQ with some latest changes in TiKV
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
Labels: aligned-with-docs, dev, v2.1, v3.0

#1799 tidb-in-kubernetes: support force upgrade when pd cluster is unavailable
  dev/tidb-in-kubernetes/upgrade/tidb-cluster.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-cluster.md
Labels: dev, tidb-in-k8s, v3.0

#1676 dev: add TiDB 4.0 version planning and future version planning
  dev/releases/201.md
  dev/roadmap.md
  v2.1/reference/sql/character-set.md
  v2.1/releases/201.md
  v3.0/releases/201.md
  v3.0/releases/21rc5.md
Labels: pending-aligning

#1803 dev/benchmark: add sysbench in k8s benchmark report
  dev/TOC.md
  dev/benchmark/sysbench-in-k8s.md
  media/sysbench-in-k8s/cos-vs-ubuntu-latency.svg
  media/sysbench-in-k8s/cos-vs-ubuntu-qps.svg
  media/sysbench-in-k8s/n1-standard-16-vs-c2-standard-16-latency.svg
  media/sysbench-in-k8s/n1-standard-16-vs-c2-standard-16-qps.svg
  media/sysbench-in-k8s/oltp-read-write-latency.svg
  media/sysbench-in-k8s/oltp-read-write-qps.svg
  media/sysbench-in-k8s/oltp-update-index-latency.svg
  media/sysbench-in-k8s/oltp-update-index-qps.svg
  media/sysbench-in-k8s/oltp-update-no-index-latency.svg
  media/sysbench-in-k8s/oltp-update-no-index-qps.svg
  media/sysbench-in-k8s/pod-vs-host-network-latency.svg
  media/sysbench-in-k8s/pod-vs-host-network-qps.svg
  media/sysbench-in-k8s/service-vs-load-balancer-latency.svg
  media/sysbench-in-k8s/service-vs-load-balancer-qps.svg
  media/sysbench-in-k8s/single-zonal-vs-regional-latency.svg
  media/sysbench-in-k8s/single-zonal-vs-regional-qps.svg
Labels: pending-aligning, tidb-in-k8s

#1807 release: add release notes for 3.0.3
  dev/TOC.md
  dev/releases/3.0.3.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.3.md
  v3.0/releases/rn.md
Labels: Do not merge until Ansible tag is ready, aligned-in-docs, dev, v3.0
