Repository pingcap/docs-cn, pull requests merged in 2019-09, with the labels that each got.

#1813 faq: remove extra www characters from links
  v1.0/FAQ.md
  v2.0/FAQ.md
Labels: aligning

#1802 reference, toc: add a list of expressions pushed down
  dev/TOC.md
  dev/reference/sql/functions-and-operators/expressions-pushed-down.md
  dev/reference/sql/functions-and-operators/reference.md
  v3.0/TOC.md
  v3.0/reference/sql/functions-and-operators/expressions-pushed-down.md
  v3.0/reference/sql/functions-and-operators/reference.md
Labels: pending-aligning

#1792 reference: add TiDB cluster alert rules
  dev/TOC.md
  dev/how-to/configure/memory-control.md
  dev/reference/alert-rules.md
  v2.1/TOC.md
  v2.1/reference/alert-rules.md
  v3.0/TOC.md
  v3.0/reference/alert-rules.md
Labels: aligned-in-docs

#1816 dev: fix format and wording issues in Roadmap
  dev/roadmap.md
  v2.1/reference/tools/data-migration/features/manually-handling-sharding-ddl-locks.md
  v3.0/how-to/get-started/explore-sql.md
  v3.0/how-to/secure/enable-tls-between-components.md
  v3.0/reference/sql/statements/set-variable.md
  v3.0/reference/sql/statements/trace.md
  v3.0/roadmap.md
Labels: align-N/A

#1808 tidb-in-kubernetes: add local pv example
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/reference/configuration/storage-class.md
Labels: dev, tidb-in-k8s, v3.0

#1817 lightning/overview: add space for single asterisk
  dev/reference/tools/tidb-lightning/overview.md
  v2.1/reference/tools/tidb-lightning/overview.md
  v3.0/reference/tools/tidb-lightning/overview.md
Labels: align-N/A, bug, dev, v2.1, v3.0, website

#1820 reference: remove redundent punctuation
  v3.0/reference/sql/statements/show-keys.md
Labels: v3.0

#1825 scripts: quite mode by default
  scripts/verify-links.sh
Labels: aligned-in-docs

#1826 reference/transactions: update pessimistic doc
  dev/reference/transactions/transaction-pessimistic.md
Labels: pending-aligning

#1829 how-to: remove extra punctuation from code
  dev/how-to/maintain/tidb-binlog.md
  v2.1/how-to/maintain/tidb-binlog.md
  v3.0/how-to/maintain/tidb-binlog.md
Labels: pending-aligning

#1819 *: update the description of the foreign key
  dev/reference/sql/constraints.md
  v2.1/reference/sql/constraints.md
  v3.0/reference/sql/constraints.md
Labels: LGT1, pending-aligning

#1831 dev/releases: fix 1 broken link
  dev/releases/2.1.2.md
Labels: align-N/A, dev

#1822 reference/sql: update show-variables example
  dev/reference/sql/statements/show-variables.md
  v2.1/reference/sql/statements/show-variables.md
  v3.0/reference/sql/statements/show-variables.md
Labels: LGT1, dev, pending-aligning, v2.1, v3.0

#1790 reference/sql: update modify column docs for prohibit modifying the precision of decimals
  dev/reference/sql/statements/modify-column.md
  v2.1/reference/sql/statements/modify-column.md
  v3.0/reference/sql/statements/modify-column.md
Labels: pending-aligning

#1801 tidb-in-kubernetes: add TiDB lightning deployment guide in kubernetes
  dev/TOC.md
  dev/tidb-in-kubernetes/maintain/lightning.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/maintain/lightning.md
Labels: aligned-with-docs, tidb-in-k8s

#1836 [*]: fix typo for lightning
  dev/how-to/migrate/overview.md
  dev/how-to/troubleshoot/tidb-lightning.md
  v2.1/how-to/migrate/overview.md
  v2.1/how-to/troubleshoot/tidb-lightning.md
  v3.0/how-to/migrate/overview.md
  v3.0/how-to/troubleshoot/tidb-lightning.md
Labels: align-N/A, dev, v2.1, v3.0, website

#1835 reference: fix 3 broken links
  dev/reference/tispark.md
  v2.1/reference/tispark.md
  v3.0/reference/tispark.md
Labels: align-N/A, dev, v2.1, v3.0

#1833 tidb-in-kubernetes: create namespace before secret during tidb cluster initialization
  dev/tidb-in-kubernetes/initialize-cluster.md
  v3.0/tidb-in-kubernetes/initialize-cluster.md
Labels: aligned-in-docs, dev, tidb-in-k8s, v3.0

#1839 tispark: fix typos and broken links
  v1.0/tispark/tispark-user-guide.md
  v2.0/tispark/tispark-user-guide.md
  v2.1/tispark/tispark-user-guide_v1.x.md
Labels: align-N/A, v1.0, v2.0, v2.1

#1840 releases: fix a broken link
  v2.1/releases/2.1.2.md
Labels: align-N/A, v2.1

#1843 checkpoints: Update checkpoints.md
  dev/reference/tools/tidb-lightning/checkpoints.md
  v2.1/reference/tools/tidb-lightning/checkpoints.md
  v3.0/reference/tools/tidb-lightning/checkpoints.md
Labels: dev, pending-aligning, v2.1, v3.0

#1849 release, TOC: add TiDB 2.1.17 release notes
  dev/TOC.md
  dev/releases/2.1.17.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.17.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.17.md
  v3.0/releases/rn.md
Labels: DNM, aligned-in-docs, dev, v2.1, v3.0

#1837 faq: update TiDB Lightning FAQ
  dev/faq/tidb-lightning.md
  v2.1/faq/tidb-lightning.md
  v3.0/faq/tidb-lightning.md
Labels: LGT1, dev, enhancement, pending-aligning, v2.1, v3.0

#1862 Add missing master port in dmctl example
  dev/reference/tools/data-migration/manage-tasks.md
  v2.1/reference/tools/data-migration/manage-tasks.md
  v3.0/reference/tools/data-migration/manage-tasks.md
Labels: aligning, dev, v2.1, v3.0

#1857 how-to/scale: update table format
  v3.0/how-to/scale/horizontally.md
Labels: align-N/A, v3.0

#1859 v3.0, dev: add dm benchmark report
  dev/TOC.md
  dev/benchmark/dm-v1.0-ga.md
  v3.0/TOC.md
  v3.0/benchmark/dm-v1.0-ga.md
Labels: dev, v3.0

#1865 3.0, dev: some format fix in DM benchmark report
  dev/benchmark/dm-v1.0-ga.md
  v3.0/benchmark/dm-v1.0-ga.md
Labels: dev, pending-aligning, v3.0

#1863 reference/alert-rule: fix wrong alert metrics
  dev/reference/alert-rules.md
  v2.1/reference/alert-rules.md
  v3.0/reference/alert-rules.md
Labels: aligned-in-docs, dev, v2.1, v3.0

#1815 tidb-in-kubernetes: fix gke document in gcp
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: aligned-in-docs, dev, tidb-in-k8s, v3.0

#1845 reference/tools: fix pd control command typo
  dev/reference/tools/pd-control.md
  v2.1-legacy/tools/pd-control.md
  v2.1/reference/tools/pd-control.md
  v3.0/reference/tools/pd-control.md
Labels: pending-aligning

#1853 reference: refine components migration of DM
  dev/reference/tools/data-migration/cluster-operations.md
Labels: dev, pending-aligning, v2.1, v3.0

#1858 reference: add tidb session variable description about `tidb_allow_remove_auto_inc`
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/mysql-compatibility.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/mysql-compatibility.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/mysql-compatibility.md
Labels: LGT2, dev, pending-aligning, v2.1, v3.0

#1854 v3.0, dev: add dm error system introduction
  dev/TOC.md
  dev/reference/tools/data-migration/error-system.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/error-system.md
Labels: dev, pending-aligning, v3.0

#1852 reference: update master-slave switch support in DM
  dev/TOC.md
  dev/reference/tools/data-migration/cluster-operations.md
  dev/reference/tools/data-migration/overview.md
  dev/reference/tools/data-migration/usage-scenarios/master-slave-switch.md
Labels: dev, pending-aligning, v2.1, v3.0

#1844 tools: refine doc for binlogctl
  dev/how-to/maintain/tidb-binlog.md
  v2.1/how-to/maintain/tidb-binlog.md
  v3.0/how-to/maintain/tidb-binlog.md
Labels: dev, pending-aligning, v2.1, v3.0

#1873 tools: add tags when deploy pump by ansible
  dev/how-to/deploy/tidb-binlog.md
  v2.1-legacy/tools/tidb-binlog-cluster.md
  v2.1/how-to/deploy/tidb-binlog.md
  v3.0/how-to/deploy/tidb-binlog.md
Labels: dev, v2.1, v3.0

#1876 scripts: support new link convention
  dev/reference/sql/statements/show-table-regions.md
  dev/reference/tools/data-migration/overview.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
  v2.1/reference/sql/statements/show-table-regions.md
  v2.1/reference/tools/data-migration/overview.md
  v3.0/reference/sql/statements/show-table-regions.md
  v3.0/reference/tools/data-migration/overview.md
Labels: pending-aligning

#1818 reference: update command and default value in pd-control
  dev/reference/tools/pd-control.md
  v3.0/reference/tools/pd-control.md
Labels: aligned-in-docs, dev, v3.0

#1838 tools: refine docs of mydumper
  dev/how-to/maintain/backup-and-restore.md
  dev/reference/tools/mydumper.md
  v2.1/how-to/maintain/backup-and-restore.md
  v2.1/reference/tools/mydumper.md
  v3.0/how-to/maintain/backup-and-restore.md
  v3.0/reference/tools/mydumper.md
Labels: dev, v2.1, v3.0

#1874 tools: add link in binlog overview
  dev/reference/tidb-binlog-overview.md
  v2.1/reference/tidb-binlog-overview.md
  v3.0/reference/tidb-binlog-overview.md
Labels: dev, pending-aligning, v2.1, v3.0

#1864 dev, v3.0/tidb-in-kubernetes: tidb keep alive troubleshooting
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: dev, pending-aligning, v3.0

#1842 how-to/monitor: Add monitor item for tidb binlog
  dev/how-to/monitor/tidb-binlog.md
  v2.1/how-to/monitor/tidb-binlog.md
  v3.0/how-to/monitor/tidb-binlog.md
Labels: LGT2, aligned-in-docs, dev, v2.1, v3.0

#1810 benchmark: improve wording
  dev/benchmark/sysbench-in-k8s.md
  v3.0/benchmark/sysbench-in-k8s.md
Labels: DNM, align-N/A, dev, tidb-in-k8s, v3.0

#1821 reference/tools: add error cases for ET
  dev/reference/tools/error-case-handling/lightning-misuse-handling.md
  dev/reference/tools/error-case-handling/load-misuse-handling.md
  v3.0/reference/tools/error-case-handling/lightning-misuse-handling.md
  v3.0/reference/tools/error-case-handling/load-misuse-handling.md
Labels: dev, pending-aligning, v3.0

#1888 reference/sql: fix a typo
  dev/reference/sql/view.md
  v3.0/reference/sql/view.md
Labels: align-N/A, dev, v3.0

#1878 reference: refine dmctl commands doc in DM
  dev/reference/tools/data-migration/manage-tasks.md
  dev/reference/tools/data-migration/query-status.md
  v2.1/reference/tools/data-migration/manage-tasks.md
  v2.1/reference/tools/data-migration/query-status.md
  v3.0/reference/tools/data-migration/manage-tasks.md
  v3.0/reference/tools/data-migration/query-status.md
Labels: dev, pending-aligning, v2.1, v3.0

#1879 how-to: update binlog deploy info
  dev/how-to/deploy/tidb-binlog.md
  dev/how-to/maintain/tidb-binlog.md
  v2.1/how-to/deploy/tidb-binlog.md
  v2.1/how-to/maintain/tidb-binlog.md
  v3.0/how-to/deploy/tidb-binlog.md
  v3.0/how-to/maintain/tidb-binlog.md
Labels: LGT1, dev, pending-aligning, v2.1, v3.0

#1881 tidb-in-kubernetes: make procedures clearer for aws deployment
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
Labels: dev, pending-aligning, v3.0

#1870 3.0, 2.1, dev: update dm monitor description
  dev/reference/tools/data-migration/monitor.md
  v2.1/reference/tools/data-migration/monitor.md
  v3.0/reference/tools/data-migration/monitor.md
Labels: dev, pending-aligning, v2.1, v3.0

#1895 references: refine MySQL Replication Filtering Rules in DM Black & white table lists
  dev/reference/tools/data-migration/features/overview.md
  v2.1/reference/tools/data-migration/features/overview.md
  v3.0/reference/tools/data-migration/features/overview.md
Labels: pending-aligning

#1880 tools: add document for deploying dm with binary
  dev/how-to/deploy/data-migration-with-binary.md
  dev/reference/tools/data-migration/deploy.md
  v2.1/how-to/deploy/data-migration-with-binary.md
  v2.1/reference/tools/data-migration/deploy.md
  v3.0/how-to/deploy/data-migration-with-binary.md
  v3.0/reference/tools/data-migration/deploy.md
Labels: pending-aligning

#1903 tidb-in-kubernetes: make deploy doc clearer on GCP
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: dev, tidb-in-k8s, v3.0

#1900 reference: update Tispark FAQ
  dev/reference/tispark.md
  v2.1/reference/tispark.md
  v3.0/reference/tispark.md
Labels: aligned-in-docs

#1899 tools: remove column mapping in DM
  dev/TOC.md
  dev/how-to/get-started/data-migration.md
  dev/reference/tools/data-migration/configure/task-configuration-file.md
  dev/reference/tools/data-migration/dm-portal.md
  dev/reference/tools/data-migration/manage-tasks.md
  dev/reference/tools/data-migration/overview.md
  dev/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  dev/reference/tools/data-migration/usage-scenarios/shard-merge.md
  v2.1/TOC.md
  v2.1/how-to/get-started/data-migration.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file.md
  v2.1/reference/tools/data-migration/dm-portal.md
  v2.1/reference/tools/data-migration/manage-tasks.md
  v2.1/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v2.1/reference/tools/data-migration/usage-scenarios/shard-merge.md
  v3.0/TOC.md
  v3.0/how-to/get-started/data-migration.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/reference/tools/data-migration/dm-portal.md
  v3.0/reference/tools/data-migration/manage-tasks.md
  v3.0/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v3.0/reference/tools/data-migration/usage-scenarios/shard-merge.md
Labels: pending-aligning

#1724 faq: add the faq of "Information schema is changed "
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
Labels: pending-aligning
