Repository pingcap/docs-cn, pull requests merged in 2019-07, with the labels that each got.

#1547 dev, v2.1, v3.0: update sysbench link
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
Labels: dev, v2.1, v3.0

#1551 dev, v3.0: update docker compose links
  dev/_index.md
  dev/faq/tidb.md
  dev/how-to/deploy/hardware-recommendations.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/overview.md
  v3.0/_index.md
  v3.0/faq/tidb.md
  v3.0/how-to/deploy/hardware-recommendations.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/overview.md
Labels: dev, v3.0

#1553 dev, v3.0, v2.1: update the Syncer link
  dev/how-to/migrate/incrementally-from-mysql.md
  v2.1/how-to/migrate/incrementally-from-mysql.md
  v3.0/how-to/migrate/incrementally-from-mysql.md
Labels: dev, v2.1, v3.0

#1554 dev, v3.0: update K8s related doc links
  dev/how-to/deploy/tidb-operator.md
  dev/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  dev/how-to/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/how-to/deploy/tidb-operator.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-minikube.md
Labels: dev, v3.0

#1501 tools: add a simple FAQ for DM to cover `invalid connection` and `driver: bad connection`
  dev/TOC.md
  dev/faq/data-migration.md
  v3.0/TOC.md
  v3.0/faq/data-migration.md
Labels: LGT1, dev, v3.0

#1559 dev, v3.0: remove broken links
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
Labels: dev, v3.0

#1555 dev, v3.0, v2.1: add description of tikv-ctl local mode
  dev/reference/tools/tikv-control.md
  v2.1/reference/tools/tikv-control.md
  v3.0/reference/tools/tikv-control.md
Labels: dev, v2.1, v3.0

#1556 reference: update the descriptions of compability in v3.0.0
  dev/reference/mysql-compatibility.md
  v3.0/reference/mysql-compatibility.md
Labels: dev, v3.0

#1557 remove redundant character
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
Labels: dev, v2.1, v3.0

#1563 dev, v3.0, v2.1: fix migration links
  dev/how-to/migrate/overview.md
  v2.1/how-to/migrate/overview.md
  v3.0/how-to/migrate/overview.md
Labels: dev, v2.1, v3.0

#1564 dev, v3.0, v2.1: fix DM and Lightning links
  dev/how-to/migrate/overview.md
  v2.1/how-to/migrate/overview.md
  v3.0/how-to/migrate/overview.md
Labels: dev, v2.1, v3.0

#1537 dev, v3.0: add a doc of checking cluster status using SQL statements
  dev/TOC.md
  dev/reference/performance/check-cluster-status-using-sql-statements.md
  dev/reference/system-databases/information-schema.md
  v3.0/TOC.md
  v3.0/reference/performance/check-cluster-status-using-sql-statements.md
  v3.0/reference/system-databases/information-schema.md
Labels: dev, v3.0

#1532 */reference/garbage-collection: update GC topics for V3.0
  dev/TOC.md
  dev/reference/garbage-collection.md
  dev/reference/garbage-collection/configuration.md
  dev/reference/garbage-collection/overview.md
  v3.0/TOC.md
  v3.0/reference/garbage-collection.md
  v3.0/reference/garbage-collection/configuration.md
  v3.0/reference/garbage-collection/overview.md
Labels: dev, v3.0

#1567 dev, v2.1, v3.0: fix broken links
  dev/how-to/maintain/backup-and-restore.md
  dev/how-to/migrate/from-mysql.md
  dev/how-to/scale/horizontally.md
  dev/how-to/secure/enable-tls-between-components.md
  v2.1/how-to/maintain/backup-and-restore.md
  v2.1/how-to/migrate/from-mysql.md
  v2.1/how-to/scale/horizontally.md
  v2.1/how-to/secure/enable-tls-between-components.md
  v3.0/how-to/maintain/backup-and-restore.md
  v3.0/how-to/migrate/from-aurora.md
  v3.0/how-to/migrate/from-mysql.md
  v3.0/how-to/scale/horizontally.md
  v3.0/how-to/secure/enable-tls-between-components.md
Labels: dev, v2.1, v3.0

#1569 dev, v2.1, v3.0: fix broken links
  dev/faq/tidb.md
  dev/how-to/migrate/from-aurora.md
  dev/reference/sql/statements/create-database.md
  dev/reference/sql/statements/drop-database.md
  dev/reference/sql/statements/flush-privileges.md
  dev/reference/sql/statements/show-grants.md
  dev/reference/tools/syncer.md
  dev/reference/tools/tidb-binlog/tidb-binlog-kafka.md
  dev/reference/tools/tidb-binlog/tidb-binlog-local.md
  v1.0/FAQ.md
  v1.0/tools/syncer.md
  v1.0/tools/tidb-binlog-kafka.md
  v1.0/tools/tidb-binlog.md
  v2.0/FAQ.md
  v2.0/tools/syncer.md
  v2.0/tools/tidb-binlog-kafka.md
  v2.0/tools/tidb-binlog.md
  v2.1-legacy/FAQ.md
  v2.1-legacy/tools/syncer.md
  v2.1-legacy/tools/tidb-binlog-kafka.md
  v2.1-legacy/tools/tidb-binlog.md
  v2.1/faq/tidb.md
  v2.1/how-to/migrate/from-aurora.md
  v2.1/reference/sql/statements/create-database.md
  v2.1/reference/sql/statements/drop-database.md
  v2.1/reference/sql/statements/flush-privileges.md
  v2.1/reference/sql/statements/show-grants.md
  v2.1/reference/tools/syncer.md
  v2.1/reference/tools/tidb-binlog/tidb-binlog-kafka.md
  v2.1/reference/tools/tidb-binlog/tidb-binlog-local.md
  v3.0/faq/tidb.md
  v3.0/how-to/migrate/from-aurora.md
  v3.0/reference/sql/statements/create-database.md
  v3.0/reference/sql/statements/drop-database.md
  v3.0/reference/sql/statements/flush-privileges.md
  v3.0/reference/sql/statements/show-grants.md
  v3.0/reference/tools/syncer.md
  v3.0/reference/tools/tidb-binlog/tidb-binlog-kafka.md
  v3.0/reference/tools/tidb-binlog/tidb-binlog-local.md
Labels: dev, v2.1, v3.0

#1570 dev, v3.0, v2.1: fix original sql links
  dev/how-to/get-started/explore-sql.md
  dev/how-to/migrate/from-mysql.md
  dev/how-to/secure/enable-tls-clients.md
  dev/how-to/troubleshoot/data-migration.md
  dev/reference/mysql-compatibility.md
  dev/reference/sql/statements/commit.md
  dev/reference/tools/syncer.md
  v2.1/how-to/get-started/explore-sql.md
  v2.1/how-to/migrate/from-mysql.md
  v2.1/how-to/secure/enable-tls-clients.md
  v2.1/how-to/troubleshoot/data-migration.md
  v2.1/reference/mysql-compatibility.md
  v2.1/reference/sql/statements/commit.md
  v2.1/reference/tools/syncer.md
  v3.0/how-to/get-started/explore-sql.md
  v3.0/how-to/migrate/from-mysql.md
  v3.0/how-to/secure/enable-tls-clients.md
  v3.0/how-to/troubleshoot/data-migration.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/sql/statements/commit.md
  v3.0/reference/tools/syncer.md
Labels: dev, v2.1, v3.0

#1579 dev, v3.0, v2.1: add 2.1.14 release notes back
  dev/TOC.md
  dev/releases/2.1.14.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.14.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.14.md
  v3.0/releases/rn.md
Labels: Do not merge until Ansible tag is ready

#1572 dev, v3.0: fix broken links
  dev/how-to/maintain/tidb-in-kubernetes/tidb-node.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-node.md
Labels: dev, v3.0

#1583 dev, v3.0: reorganize the content of Information Schema
  dev/reference/system-databases/information-schema.md
  v3.0/reference/system-databases/information-schema.md
Labels: dev, v2.1, v3.0

#1571 dev, v2.1, v3.0: fix broken links
  README.md
  _index.md
  dev/_index.md
  dev/how-to/get-started/deploy-tidb-from-docker-compose.md
  dev/how-to/get-started/explore-sql.md
  dev/overview.md
  dev/tispark/tispark-quick-start-guide_v1.x.md
  v2.1-legacy/op-guide/docker-compose.md
  v2.1-legacy/overview.md
  v2.1-legacy/sql/aggregate-group-by-functions.md
  v2.1-legacy/sql/character-set-configuration.md
  v2.1-legacy/sql/dml.md
  v2.1-legacy/tispark/tispark-quick-start-guide.md
  v2.1/_index.md
  v2.1/how-to/get-started/explore-sql.md
  v2.1/how-to/get-started/local-cluster/install-from-docker-compose.md
  v2.1/overview.md
  v2.1/tispark/tispark-quick-start-guide_v1.x.md
  v3.0/_index.md
  v3.0/how-to/get-started/deploy-tidb-from-docker-compose.md
  v3.0/how-to/get-started/explore-sql.md
  v3.0/overview.md
  v3.0/tispark/tispark-quick-start-guide_v1.x.md
Labels: dev, v2.1, v3.0

#1584 dev, v3.0: fix typo and format, and correct title description
  dev/how-to/maintain/tidb-in-kubernetes/tidb-node.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-node.md
Labels: dev, v3.0

#1576 tidb-in-kubernetes: add force upgrade feature usage
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
Labels: dev, tidb-in-k8s, v3.0

#1517 faq, toc: add the TiDB in K8s FAQ doc
  dev/TOC.md
  dev/faq/tidb-in-kubernetes.md
  v3.0/TOC.md
  v3.0/faq/tidb-in-kubernetes.md
Labels: dev, tidb-in-k8s, v3.0

#1589 dev, v3.0: improve wording and format
  dev/how-to/maintain/tidb-in-kubernetes/auto-failover.md
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/how-to/maintain/tidb-in-kubernetes/auto-failover.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
Labels: dev, v3.0

#1585 dev, v3.0: change tidb-cluster deploy doc
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
Labels: dev, mardownlint checked, tidb-in-k8s, v3.0

#1595 dev, v3.0: update relative path in TOC.md
  dev/TOC.md
  v3.0/TOC.md
Labels: dev, v3.0

#1527 faq/upgrade: update upgrade faq
  dev/faq/upgrade.md
  v2.1-legacy/op-guide/upgrade-faq.md
  v2.1/faq/upgrade.md
  v3.0/faq/upgrade.md
Labels: dev, v2.1, v3.0

#1597 all versions: fix typo and resolve lint issues
  dev/reference/configuration/tidb-server/server-command-option.md
  v1.0/sql/server-command-option.md
  v2.0/sql/server-command-option.md
  v2.1-legacy/sql/server-command-option.md
  v2.1/reference/configuration/tidb-server/server-command-option.md
  v3.0/reference/configuration/tidb-server/server-command-option.md
Labels: markdownlint checked

#1505 pd: update configuration
  dev/reference/configuration/pd-server/configuration.md
  v3.0/reference/configuration/pd-server/configuration.md
Labels: dev, markdownlint checked, v3.0

#1470 dev/reference: update code blocks by new format rules
  dev/how-to/maintain/ansible-operations.md
  dev/how-to/maintain/backup-and-restore.md
  dev/how-to/maintain/identify-slow-queries.md
  dev/how-to/maintain/tidb-binlog.md
  dev/reference/mysql-compatibility.md
  dev/reference/security/privilege-system.md
  dev/reference/system-databases/information-schema.md
  dev/reference/tispark.md
Labels: markdownlint checked

#1602 v2.1: remove inapplicable reference content
  v1.0/sql/server-command-option.md
  v2.1/TOC.md
  v2.1/reference/configuration/pd-server/configuration.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/mysql-compatibility.md
  v2.1/reference/performance/statistics.md
  v2.1/reference/sql/statements/create-view.md
  v2.1/reference/sql/statements/drop-view.md
  v2.1/reference/sql/statements/split-region.md
  v2.1/reference/system-databases/information-schema.md
  v2.1/reference/tools/tidb-control.md
Labels: v2.1

#1599 dev, v2.1, v3.0: fix TiSpark link
  dev/_index.md
  v2.1/_index.md
  v3.0/_index.md
Labels: dev, v2.1, v3.0

#1604 v3.0, dev: fix split region doc mistake
  dev/reference/sql/statements/split-region.md
  v3.0/reference/sql/statements/split-region.md
Labels: dev, v3.0

#1582 dev, v3.0: change configuration doc of tidb-in-kubernetes
  dev/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
  v3.0/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
Labels: dev, markdownlint checked, tidb-in-k8s, v3.0

#1608 reference/sql: make recover table notice obvious and clear
  dev/reference/sql/statements/recover-table.md
  v3.0/reference/sql/statements/recover-table.md
Labels: dev, v3.0

#1591 v3.0,dev/how-to/configure: initialize cluster managed by tidb-operator
  dev/TOC.md
  dev/how-to/configure/initialize-cluster.md
  v3.0/TOC.md
  v3.0/how-to/configure/initialize-cluster.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
Labels: dev, markdownlint checked, tidb-in-k8s, v3.0

#1612 dev, v2.1, v3.0: fix broken links
  dev/faq/tidb.md
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  dev/how-to/migrate/from-aurora.md
  dev/reference/configuration/pd-server/configuration-file.md
  dev/reference/configuration/tidb-server/server-command-option.md
  dev/reference/key-monitoring-metrics/tidb-dashboard.md
  dev/reference/sql/data-types/date-and-time.md
  dev/reference/sql/statements/flush-privileges.md
  v2.1-legacy/op-guide/tidb-dashboard-info.md
  v2.1/faq/tidb.md
  v2.1/how-to/migrate/from-aurora.md
  v2.1/reference/configuration/tidb-server/server-command-option.md
  v2.1/reference/key-monitoring-metrics/tidb-dashboard.md
  v2.1/reference/sql/data-types/date-and-time.md
  v2.1/reference/sql/statements/flush-privileges.md
  v2.1/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/skip-replace-sqls.md
  v3.0/faq/tidb.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/how-to/migrate/from-aurora.md
  v3.0/reference/configuration/pd-server/configuration-file.md
  v3.0/reference/configuration/tidb-in-kubernetes/backup-configuration.md
  v3.0/reference/configuration/tidb-server/server-command-option.md
  v3.0/reference/garbage-collection/configuration.md
  v3.0/reference/key-monitoring-metrics/tidb-dashboard.md
  v3.0/reference/sql/data-types/date-and-time.md
  v3.0/reference/sql/partitioning.md
  v3.0/reference/sql/sql-mode.md
  v3.0/reference/sql/statements/flush-privileges.md
  v3.0/reference/tools/data-migration/features/manually-handling-sharding-ddl-locks.md
  v3.0/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/skip-replace-sqls.md
  v3.0/reference/tools/tidb-lightning/overview.md
Labels: DNM, dev, v2.1, v3.0

#1552 dev, v3.0: add monitoring TiDB in K8s and log collecting
  dev/how-to/maintain/tidb-in-kubernetes/log-collecting.md
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  dev/how-to/monitor/tidb-in-kubernetes.md
  v3.0/how-to/maintain/tidb-in-kubernetes/log-collecting.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/how-to/monitor/tidb-in-kubernetes.md
Labels: dev, markdownlint checked, tidb-in-k8s, v3.0

#1620 dev, v3.0: fix the K8s setup link
  dev/how-to/deploy/tidb-operator.md
  v3.0/how-to/deploy/tidb-operator.md
Labels: dev, v3.0

#1621 dev, v3.0: add log collection and monitoring docs to toc
  dev/TOC.md
  dev/how-to/monitor/tidb-in-kubernetes.md
  v3.0/TOC.md
  v3.0/how-to/monitor/tidb-in-kubernetes.md
Labels: dev, tidb-in-k8s, v3.0

#1623 *: modify the assignment description of tidb_disable_txn_auto_retry
  dev/reference/transactions/transaction-isolation.md
  v2.1-legacy/sql/transaction-isolation.md
  v2.1/reference/transactions/transaction-isolation.md
  v3.0/reference/transactions/transaction-isolation.md
Labels: contribution, dev, v2.1, v3.0

#1586 v2.1, v3.0, dev: add a warning in batch operations
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/sql/statements/load-data.md
  dev/reference/transactions/transaction-model.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/sql/statements/load-data.md
  v2.1/reference/transactions/transaction-model.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/sql/statements/load-data.md
  v3.0/reference/transactions/transaction-model.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1558 dev/reference, v3.0/reference, v2.1/reference: add safe-mode config in binlog reparo doc
  dev/reference/tools/tidb-binlog/reparo.md
  v2.1/reference/tools/tidb-binlog/reparo.md
  v3.0/reference/tools/tidb-binlog/reparo.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1590 dev, v3.0: update cluster configuration doc to support tidb/tikv/pd config
  dev/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
  v3.0/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
Labels: dev, markdownlint checked, tidb-in-k8s, v3.0

#1624 dev, v2.1, v3.0: remove shared block cache from 2.1
  dev/reference/performance/tune-tikv.md
  v2.1/reference/key-monitoring-metrics/tikv-dashboard.md
  v2.1/reference/performance/tune-tikv.md
  v2.1/reference/tools/tikv-control.md
  v3.0/reference/performance/tune-tikv.md
Labels: dev, v2.1, v3.0

#1627 v2.1/reference: remove duplicate alter table description
  v2.1/reference/mysql-compatibility.md
Labels: v2.1

#1535 dev, v2.1, v3.0: add syntax descriptions about sql statements
  dev/reference/sql/statements/create-database.md
  dev/reference/sql/statements/create-table.md
  v2.1/reference/sql/statements/create-database.md
  v2.1/reference/sql/statements/create-table.md
  v3.0/reference/sql/statements/create-database.md
  v3.0/reference/sql/statements/create-table.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1566 dev, v2.1, v3.0: update JSON example code
  dev/how-to/deploy/orchestrated/ansible.md
  dev/reference/sql/data-types/json.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v2.1/reference/sql/data-types/json.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/reference/sql/data-types/json.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1609 dev, v3.0: add a description for view
  dev/TOC.md
  dev/reference/sql/sql-mode.md
  dev/reference/sql/view.md
  v3.0/TOC.md
  v3.0/reference/sql/sql-mode.md
  v3.0/reference/sql/view.md
Labels: dev, v3.0

#1565 tidb-in-kubernetes: add deploy k8s requirements documentation
  tidb-in-kubernetes/k8s-deployment.md
Labels: markdownlint checked, tidb-in-k8s

#1635 dev, v3.0: add TiDB 3.0.1 release notes
  dev/TOC.md
  dev/releases/3.0.1.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.1.md
  v3.0/releases/rn.md
Labels: dev, v3.0

#1601 v3.0, dev: add more FAQs and troubleshooting guides for tidb-in-kubernetes
  dev/faq/tidb-in-kubernetes.md
  dev/how-to/troubleshoot/tidb-in-kubernetes.md
  v3.0/faq/tidb-in-kubernetes.md
  v3.0/how-to/troubleshoot/tidb-in-kubernetes.md
Labels: dev, tidb-in-k8s, v3.0

#1630 dev,3.0:update alibaba cloud deployment document
  dev/how-to/deploy/orchestrated/tidb-in-kubernetes/alibaba-cloud.md
  v3.0/how-to/deploy/orchestrated/tidb-in-kubernetes/alibaba-cloud.md
Labels: tidb-in-k8s

#1638 how-to/deploy: fix shortcode brackets
  dev/how-to/deploy/orchestrated/tidb-in-kubernetes/alibaba-cloud.md
  v3.0/how-to/deploy/orchestrated/tidb-in-kubernetes/alibaba-cloud.md
Labels: website

#1641 v3.0, dev/how-to/deploy: add tidb-in-kubernetes-prerequisites doc
  dev/TOC.md
  dev/how-to/deploy/hardware-recommendations.md
  dev/how-to/deploy/tidb-in-kubernetes-prerequisites.md
  v3.0/TOC.md
  v3.0/how-to/deploy/hardware-recommendations.md
  v3.0/how-to/deploy/tidb-in-kubernetes-prerequisites.md
Labels: dev, tidb-in-k8s, v3.0

#1644 dev, v3.0, v2.1: add TiDB 2.1.15 release notes
  dev/TOC.md
  dev/releases/2.1.15.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.15.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.15.md
  v3.0/releases/rn.md
Labels: DNM

#1647 dev,3.0: fix file suffix for gke tutorial
  dev/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
Labels: dev, tidb-in-k8s, v3.0

#1643 dev,3.0: improve some config descriptions
  dev/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
  v3.0/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
Labels: dev, tidb-in-k8s, v3.0

#1574 how-to/deploy: update cluster deploy/update document
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/upgrade/from-previous-version.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1649 dev, v3.0, v2.1: add benchmark docs to the website
  dev/TOC.md
  v2.1/TOC.md
  v3.0/TOC.md
Labels: dev, v2.1, v3.0

#1636 dev, v3.0: move tidb-cluster deploy content to a separate doc
  dev/TOC.md
  dev/how-to/deploy/orchestrated/tidb-in-kubernetes/general-kubernetes.md
  dev/how-to/maintain/tidb-in-kubernetes/delete-cluster.md
  dev/how-to/maintain/tidb-in-kubernetes/k8s-node-for-tidb.md
  dev/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
  v3.0/TOC.md
  v3.0/how-to/deploy/orchestrated/tidb-in-kubernetes/general-kubernetes.md
  v3.0/how-to/maintain/tidb-in-kubernetes/delete-cluster.md
  v3.0/how-to/maintain/tidb-in-kubernetes/k8s-node-for-node.md
  v3.0/how-to/maintain/tidb-in-kubernetes/tidb-cluster.md
Labels: markdownlint checked, tidb-in-k8s, v3.0

#1526 v3.0/reference, v2.1/reference, dev/reference: update stats related configuration
  dev/reference/configuration/tidb-server/configuration-file.md
  v2.1/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
Labels: dev, markdownlint checked, v2.1, v3.0

#1645 dev, v3.0: TiDB cluster configuration changes
  dev/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
  v3.0/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
Labels: dev, tidb-in-k8s, v3.0

#1651 dev, 3.0: Add backup and restore documentation
  dev/TOC.md
  dev/how-to/maintain/tidb-in-kubernetes/backup-and-restore.md
  v3.0/TOC.md
  v3.0/how-to/maintain/tidb-in-kubernetes/backup-and-restore.md
Labels: tidb-in-k8s

#1646 Add data security and best practices sections for local PV configuration
  dev/reference/configuration/tidb-in-kubernetes/local-pv-configuration.md
Labels: tidb-in-k8s

#1664 tools: add large binlog operation faq
  dev/faq/data-migration.md
  v3.0/faq/data-migration.md
Labels: dev, v3.0

#1658 dev, 3.0: Fix errors in alibaba cloud deployment doc
  dev/how-to/deploy/orchestrated/tidb-in-kubernetes/alibaba-cloud.md
  v3.0/how-to/deploy/orchestrated/tidb-in-kubernetes/alibaba-cloud.md
Labels: tidb-in-k8s

#1628 dev/reference, v3.0/reference, v2.1/reference: update tidb lightning download link
  dev/reference/tools/download.md
  v2.1/reference/tools/download.md
  v3.0/reference/tools/download.md
Labels: dev, v2.1, v3.0

#1639 dev, 3.0: Update aws deployment document
  dev/how-to/deploy/orchestrated/tidb-in-kubernetes/aws-eks.md
  v3.0/how-to/deploy/orchestrated/tidb-in-kubernetes/aws-eks.md
Labels: tidb-in-k8s

#1666 faq: add way how to view tidb configuration file in kubernetes
  dev/faq/tidb-in-kubernetes.md
  dev/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
  v3.0/faq/tidb-in-kubernetes.md
  v3.0/reference/configuration/tidb-in-kubernetes/cluster-configuration.md
Labels: dev, tidb-in-k8s, v3.0

#1657 3.0,dev: Add cloud related tools documentation
  dev/TOC.md
  dev/how-to/deploy/orchestrated/tidb-in-kubernetes/general-kubernetes.md
  dev/how-to/deploy/tidb-operator.md
  dev/reference/tools/tools-in-kubernetes.md
  v3.0/TOC.md
  v3.0/how-to/deploy/orchestrated/tidb-in-kubernetes/general-kubernetes.md
  v3.0/how-to/deploy/tidb-operator.md
  v3.0/reference/tools/tools-in-kubernetes.md
Labels: tidb-in-k8s

#1625 dev, 3.0: Add tidb-operator in architecture, overview and contribute page, adjust tidb-in-kubernetes TOC
  dev/TOC.md
  dev/architecture.md
  dev/contribute.md
  dev/how-to/deploy/tidb-in-kubernetes/access-tidb.md
  dev/how-to/deploy/tidb-in-kubernetes/alibaba-cloud.md
  dev/how-to/deploy/tidb-in-kubernetes/aws-eks.md
  dev/how-to/deploy/tidb-in-kubernetes/gcp-gke.md
  dev/how-to/deploy/tidb-in-kubernetes/tidb-in-kubernetes-prerequisites.md
  dev/how-to/deploy/tidb-in-kubernetes/tidb-operator.md
  dev/overview.md
  dev/reference/tidb-operator-overview.md
  media/tidb-operator-control-flow.png
  media/tidb-operator-overview.png
  v3.0/TOC.md
  v3.0/architecture.md
  v3.0/contribute.md
  v3.0/how-to/deploy/tidb-in-kubernetes/access-tidb.md
  v3.0/how-to/deploy/tidb-in-kubernetes/alibaba-cloud.md
  v3.0/how-to/deploy/tidb-in-kubernetes/aws-eks.md
  v3.0/how-to/deploy/tidb-in-kubernetes/gcp-gke.md
  v3.0/how-to/deploy/tidb-in-kubernetes/tidb-in-kubernetes-prerequisites.md
  v3.0/how-to/deploy/tidb-in-kubernetes/tidb-operator.md
  v3.0/overview.md
  v3.0/reference/tidb-operator-overview.md
Labels: DNM, dev, tidb-in-k8s, v3.0

#1675 dev, 3.0: Fix dead link, coordinate helm link, replace hard-coded chart version
  dev/TOC.md
  dev/faq/tidb-in-kubernetes.md
  dev/how-to/configure/initialize-cluster.md
  dev/how-to/deploy/tidb-in-kubernetes/tidb-operator.md
  dev/how-to/get-started/deploy-tidb-from-kubernetes-dind.md
  dev/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  dev/how-to/get-started/deploy-tidb-from-kubernetes-minikube.md
  dev/how-to/scale/tidb-in-kubernetes.md
  dev/how-to/troubleshoot/tidb-in-kubernetes.md
  dev/how-to/upgrade/tidb-in-kubernetes.md
  dev/reference/tidb-operator-overview.md
  dev/reference/tools/tools-in-kubernetes.md
  v3.0/TOC.md
  v3.0/faq/tidb-in-kubernetes.md
  v3.0/how-to/configure/initialize-cluster.md
  v3.0/how-to/deploy/tidb-in-kubernetes/tidb-operator.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-gke.md
  v3.0/how-to/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/how-to/scale/tidb-in-kubernetes.md
  v3.0/how-to/troubleshoot/tidb-in-kubernetes.md
  v3.0/how-to/upgrade/tidb-in-kubernetes.md
  v3.0/reference/tidb-operator-overview.md
  v3.0/reference/tools/tools-in-kubernetes.md
Labels: tidb-in-k8s

#1683 v3.0, dev/reference: fix a broken link in TiDB operator overview
  dev/reference/tidb-operator-overview.md
  v3.0/reference/tidb-operator-overview.md
Labels: tidb-in-k8s

#1684 tidb-in-kubernetes/*/backup: fix bad links
  dev/reference/configuration/tidb-in-kubernetes/backup-configuration.md
  v3.0/reference/configuration/tidb-in-kubernetes/backup-configuration.md
Labels: dev, tidb-in-k8s, v3.0

#1690 dev, v3.0: update TiDB in K8s related format and links
  dev/how-to/troubleshoot/tidb-in-kubernetes.md
  dev/reference/tidb-operator-overview.md
  v3.0/how-to/troubleshoot/tidb-in-kubernetes.md
  v3.0/reference/tidb-operator-overview.md
Labels: tidb-in-k8s

#1640 v3.0/releases: update the 3.0.1 release-note
  v3.0/releases/3.0.1.md
Labels: v3.0

#1686 dev, v3.0: update TiDB operator version info to v1.0.0
  dev/how-to/deploy/tidb-in-kubernetes/aws-eks.md
  dev/reference/tools/tools-in-kubernetes.md
  v3.0/how-to/deploy/tidb-in-kubernetes/aws-eks.md
  v3.0/reference/tools/tools-in-kubernetes.md
Labels: tidb-in-k8s

#1689 dev,3.0: Change link name and order according to content
  dev/reference/tidb-operator-overview.md
  v3.0/reference/tidb-operator-overview.md
Labels: tidb-in-k8s
